<nav class="navbar navbar-dark bg-dark">
    <a href="/" class="navbar-brand">Cloud Provisioning Demo 3</a>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#collapsingNavbar3" (click)="isCollapsed = !isCollapsed">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="collapsingNavbar3" [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item active">
                <a class="nav-link" href="get_all_countries" >All countries</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="get_top10_most_populated" >Top 10 most populated</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="get_flag_of_random_country" >Flag of random country</a>
            </li>
        </ul>
    </div>
  </nav>
  
      <router-outlet></router-outlet>
